.cart-container {
    width: 100%;
    background: rgba(255, 153, 0, 0.3);
    padding: 30px;
    position: sticky;
    top: 0;
}

.cart-container h2 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #1C2B35;
    margin-bottom: 50px;
    text-align: center;
}

.cart-container p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.005em;
    color: #2A414F;
    margin-bottom: 25px;
}

.cart-container h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.clear-cart-btn, .cart-btn {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 20px auto;
    outline: none;
    border: none;
    background: #FF3030;
    border-radius: 4px;
    color: white;
    padding: 16px;
    letter-spacing: 0.0015em;
    font-size: 21px;
    cursor: pointer;
}
.link{
    text-decoration: none;
}
.cart-btn {
    background: #FF9900;
    border-radius: 4px;
}